/* New */
.new-dialog entry text { margin: 12px 5px 12px 5px; }

/* Notes */
.notes { padding: 10px; }

/* Catalog */
masonrybox view { border-spacing: 10px; margin: 10px; }
masonrybox view > column { border-spacing: 10px; }
masonrybox overlay > picture { border-radius: 13px; }
masonrybox revealer button { margin: 6px; }

/* Sidebar */
.navigation-sidebar row box > box:last-child > revealer > box { border-spacing: 4px; }
.navigation-sidebar row button { padding: 2px 6px 2px 6px; }

/* Colors */
sheet,
navigation-view {
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.colored {
  --scrollbar-outline-color: rgb(0 0 0 / 25%);
  --accent-color: var(--color-1);
  --accent-bg-color: var(--color-1);
  --popover-bg-color: color-mix(in srgb, var(--color-2), var(--window-bg-color) 60%);
  --card-bg-color: rgb(255 255 255 / 4%);
}
.colored sheet,
.colored navigation-view,
.colored overlay-split-view > :last-child:not(.sidebar-pane) {
  background: linear-gradient(
      to bottom right,
      color-mix(in srgb, var(--color-1) 45%, transparent),
      transparent
    ),
    linear-gradient(
      to bottom left,
      color-mix(in srgb, var(--color-2) 45%, transparent),
      transparent
    ),
    linear-gradient(
      to top,
      color-mix(in srgb, var(--color-3) 45%, transparent),
      transparent
    ),
    var(--window-bg-color);
}
.colored overlay-split-view > .sidebar-pane {
  background: color-mix(in srgb, var(--sidebar-bg-color) 15%, transparent);
  box-shadow: none;
}
row.destructive-action { 
  background: var(--destructive-bg-color);
  color: white;
}
